<div id="<%= dom_id list %>">
  <p>
   
    <strong>To Do Item:</strong>
    <%= list.description %>

    
    
  </p>

  <p>
    <br/>
    <strong>Completed:</strong>
    <%= list.completed %>
  </p>

</div>
