<nav class="navbar navbar-inverse" style="background-color: darkslategray; font-style: white;">
  <div class="container-fluid">
    <br/>
    <%= link_to "TODO LIST", root_path, class: 'navbar-brand' %>
  
     
      <span class="navbar-toggler-icon"></span>
    
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-right">
      
        <%= render 'form_index' %>
       
      </ul>
      
      
    </div>
  </div>
</nav>